In [1]:
# Importing the Libraries

import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import scipy.io.wavfile as wavfile
import scipy.fftpack as fftpk
from matplotlib import pyplot as plt

import sounddevice as sd
import soundfile as sf
import librosa

from IPython.display import Image
import ipywidgets as widgets
from IPython.display import display

In [2]:
#This Function train the data for a given fault ID
def training(faultID):
    
    # Creating a Dataframe to store the results
    input_test = pd.DataFrame(np.zeros((2,9)))
    input_test.columns = ["RMS","Mean","MA1","MA2","MA3","F1","F2","F3","FailureID"]

    # Training the data repeatively
    for i in range(100):
        
        # Recording the audio
        samplerate = 48000  
        duration = 5 # seconds
        audio = 'testing.wav'
        print("training data",i+1,"....")
        mydata = sd.rec(int(samplerate * duration), samplerate=samplerate,channels=1, blocking=True)
        sd.wait()
        sf.write(audio, mydata, samplerate)
        
        # Reading the audio file
        s_rate, signal = wavfile.read(audio)
        
        # Extracting the features from time domain
        mean = abs(signal).mean()
        rms = np.sqrt(abs((signal**2).mean()))
        
        # Extracting the feaures from frequency domain with Fast Fourier Transform
        FFT_ = abs(fftpk.fft(signal))
        FFT = FFT_[range(len(FFT_)//2)]
        freqs = fftpk.fftfreq(len(FFT), 1.0/s_rate)[range(len(FFT_)//2)]
        
        # Extracting the 3 highest amplitudes in freqeuency spectrum 
        sorted = np.sort(FFT)[::-1]
        ma1, ma2 , ma3 = sorted[[0,1,2]]

        # Exrtacting the frequency positions of above amplitudes
        max_amp_index = [np.where(FFT == sorted[0])[0], np.where(FFT == sorted[1])[0], np.where(FFT == sorted[2])[0]]
        f1, f2, f3 = np.concatenate(freqs[max_amp_index])

        # Adding all the extracted features into the dataframe
        features = [rms,mean,ma1,ma2,ma3,f1,f2,f3,faultID]
        input_test.loc[i]= features
       
    print('Successfully trained the faultID',faultID)    
    return input_test

In [ ]:
# Training the faultID 3 - Bearing Fault
ID3 = training(3)
ID3

training data 1 ....
training data 2 ....
training data 3 ....
training data 4 ....
training data 5 ....
training data 6 ....
training data 7 ....
training data 8 ....
training data 9 ....
training data 10 ....
training data 11 ....
training data 12 ....
training data 13 ....
training data 14 ....
training data 15 ....
training data 16 ....
training data 17 ....
training data 18 ....
training data 19 ....
training data 20 ....
training data 21 ....
training data 22 ....
training data 23 ....
training data 24 ....
training data 25 ....
training data 26 ....
training data 27 ....
training data 28 ....
training data 29 ....
training data 30 ....
training data 31 ....
training data 32 ....
training data 33 ....
training data 34 ....
training data 35 ....
training data 36 ....
training data 37 ....
training data 38 ....
training data 39 ....
training data 40 ....
training data 41 ....
training data 42 ....
training data 43 ....
training data 44 ....
training data 45 ....
training data 46 ....
training data 47 ....
training data 48 ....
training data 49 ....
training data 50 ....
training data 51 ....
training data 52 ....
training data 53 ....
training data 54 ....
training data 55 ....
training data 56 ....
training data 57 ....
training data 58 ....
training data 59 ....
training data 60 ....
training data 61 ....
training data 62 ....
training data 63 ....
training data 64 ....
training data 65 ....
training data 66 ....
training data 67 ....
training data 68 ....
training data 69 ....
training data 70 ....
training data 71 ....
training data 72 ....
training data 73 ....
training data 74 ....
training data 75 ....
training data 76 ....
training data 77 ....
training data 78 ....
training data 79 ....
training data 80 ....
training data 81 ....
training data 82 ....
training data 83 ....
training data 84 ....
training data 85 ....
training data 86 ....
training data 87 ....

In [21]:
# Training the faultID 2
ID2 = training(2)
ID2

training data 1 ....
training data 2 ....
training data 3 ....
training data 4 ....
training data 5 ....
training data 6 ....
training data 7 ....
training data 8 ....
training data 9 ....
training data 10 ....
training data 11 ....
training data 12 ....
training data 13 ....
training data 14 ....
training data 15 ....
training data 16 ....
training data 17 ....
training data 18 ....
training data 19 ....
training data 20 ....
training data 21 ....
training data 22 ....
training data 23 ....
training data 24 ....
training data 25 ....
training data 26 ....
training data 27 ....
training data 28 ....
training data 29 ....
training data 30 ....
training data 31 ....
training data 32 ....
training data 33 ....
training data 34 ....
training data 35 ....
training data 36 ....
training data 37 ....
training data 38 ....
training data 39 ....
training data 40 ....
training data 41 ....
training data 42 ....
training data 43 ....
training data 44 ....
training data 45 ....
training data 46 ....
training data 47 ....
training data 48 ....
training data 49 ....
training data 50 ....
training data 51 ....
training data 52 ....
training data 53 ....
training data 54 ....
training data 55 ....
training data 56 ....
training data 57 ....
training data 58 ....
training data 59 ....
training data 60 ....
training data 61 ....
training data 62 ....
training data 63 ....
training data 64 ....
training data 65 ....
training data 66 ....
training data 67 ....
training data 68 ....
training data 69 ....
training data 70 ....
training data 71 ....
training data 72 ....
training data 73 ....
training data 74 ....
training data 75 ....
training data 76 ....
training data 77 ....
training data 78 ....
training data 79 ....
training data 80 ....
training data 81 ....
training data 82 ....
training data 83 ....
training data 84 ....
training data 85 ....
training data 86 ....
training data 87 ....
training data 88 ....
training data 89 ....
training data 90 ....
training data 91 ....
training data 92 ....
training data 93 ....
training data 94 ....
training data 95 ....
training data 96 ....
training data 97 ....
training data 98 ....
training data 99 ....
training data 100 ....
Successfully trained the faultID 2

,RMS,Mean,MA1,MA2,MA3,F1,F2,F3,FailureID
0,16.207997,1952.799413,8.344957e+07,7.109151e+07,6.743456e+07,775.6,776.0,776.8,2.0
1,17.443570,1917.680504,7.672638e+07,6.085748e+07,6.056545e+07,778.8,777.6,778.4,2.0
2,17.571188,1911.542517,9.407110e+07,9.177680e+07,6.275147e+07,774.8,775.2,774.4,2.0
3,16.412183,1895.898862,6.449335e+07,5.860710e+07,5.791198e+07,772.4,775.6,772.8,2.0
4,17.690312,1838.485167,9.426641e+07,8.102247e+07,5.005641e+07,774.4,773.6,774.8,2.0
...,...,...,...,...,...,...,...,...,...
95,18.147650,1854.430633,6.703493e+07,6.639118e+07,5.603065e+07,774.0,772.4,774.4,2.0
96,16.843868,1831.597292,7.858664e+07,7.073523e+07,6.593829e+07,773.2,773.6,772.8,2.0
97,16.104621,1830.976358,5.849022e+07,5.458255e+07,4.760825e+07,776.4,773.2,776.8,2.0
98,18.719487,1822.224087,8.842383e+07,6.417513e+07,5.488665e+07,775.2,776.0,774.8,2.0
99,16.308633,1817.660083,7.227403e+07,7.011146e+07,5.583263e+07,775.2,776.0,774.8,2.0

In [23]:
# Training the faultID 4 -Fan Fault
ID4 = training(4)
ID4

training data 1 ....
training data 2 ....
training data 3 ....
training data 4 ....
training data 5 ....
training data 6 ....
training data 7 ....
training data 8 ....
training data 9 ....
training data 10 ....
training data 11 ....
training data 12 ....
training data 13 ....
training data 14 ....
training data 15 ....
training data 16 ....
training data 17 ....
training data 18 ....
training data 19 ....
training data 20 ....
training data 21 ....
training data 22 ....
training data 23 ....
training data 24 ....
training data 25 ....
training data 26 ....
training data 27 ....
training data 28 ....
training data 29 ....
training data 30 ....
training data 31 ....
training data 32 ....
training data 33 ....
training data 34 ....
training data 35 ....
training data 36 ....
training data 37 ....
training data 38 ....
training data 39 ....
training data 40 ....
training data 41 ....
training data 42 ....
training data 43 ....
training data 44 ....
training data 45 ....
training data 46 ....
training data 47 ....
training data 48 ....
training data 49 ....
training data 50 ....
training data 51 ....
training data 52 ....
training data 53 ....
training data 54 ....
training data 55 ....
training data 56 ....
training data 57 ....
training data 58 ....
training data 59 ....
training data 60 ....
training data 61 ....
training data 62 ....
training data 63 ....
training data 64 ....
training data 65 ....
training data 66 ....
training data 67 ....
training data 68 ....
training data 69 ....
training data 70 ....
training data 71 ....
training data 72 ....
training data 73 ....
training data 74 ....
training data 75 ....
training data 76 ....
training data 77 ....
training data 78 ....
training data 79 ....
training data 80 ....
training data 81 ....
training data 82 ....
training data 83 ....
training data 84 ....
training data 85 ....
training data 86 ....
training data 87 ....
training data 88 ....
training data 89 ....
training data 90 ....
training data 91 ....
training data 92 ....
training data 93 ....
training data 94 ....
training data 95 ....
training data 96 ....
training data 97 ....
training data 98 ....
training data 99 ....
training data 100 ....
Successfully trained the faultID 4

,RMS,Mean,MA1,MA2,MA3,F1,F2,F3,FailureID
0,13.109532,3623.005308,2.918361e+08,2.568252e+08,2.450810e+08,780.4,782.4,780.8,4.0
1,6.041683,3550.916804,3.525157e+08,2.342002e+08,2.082669e+08,782.4,781.6,783.6,4.0
2,6.346468,3531.156633,2.989258e+08,2.769621e+08,2.326505e+08,782.8,783.6,784.0,4.0
3,8.246681,3552.320283,3.907672e+08,2.997756e+08,2.412744e+08,779.2,780.0,779.6,4.0
4,8.231024,3597.033317,2.820203e+08,2.454486e+08,2.409094e+08,776.8,781.2,780.8,4.0
...,...,...,...,...,...,...,...,...,...
95,8.571683,3397.590508,2.488393e+08,2.321213e+08,1.891357e+08,769.2,768.8,773.2,4.0
96,9.470014,3392.942475,2.450360e+08,2.248801e+08,1.997323e+08,768.8,770.0,770.4,4.0
97,10.326281,3594.356087,2.492189e+08,2.136838e+08,1.654724e+08,780.0,780.4,766.8,4.0
98,10.942935,3615.392037,2.436363e+08,2.412081e+08,2.348954e+08,780.8,782.4,781.6,4.0
99,9.180394,3582.278238,3.093918e+08,2.415825e+08,2.326307e+08,782.4,781.6,783.2,4.0

In [24]:
# Training the faultID 1
ID1 = training(1)
ID1

training data 1 ....
training data 2 ....
training data 3 ....
training data 4 ....
training data 5 ....
training data 6 ....
training data 7 ....
training data 8 ....
training data 9 ....
training data 10 ....
training data 11 ....
training data 12 ....
training data 13 ....
training data 14 ....
training data 15 ....
training data 16 ....
training data 17 ....
training data 18 ....
training data 19 ....
training data 20 ....
training data 21 ....
training data 22 ....
training data 23 ....
training data 24 ....
training data 25 ....
training data 26 ....
training data 27 ....
training data 28 ....
training data 29 ....
training data 30 ....
training data 31 ....
training data 32 ....
training data 33 ....
training data 34 ....
training data 35 ....
training data 36 ....
training data 37 ....
training data 38 ....
training data 39 ....
training data 40 ....
training data 41 ....
training data 42 ....
training data 43 ....
training data 44 ....
training data 45 ....
training data 46 ....
training data 47 ....
training data 48 ....
training data 49 ....
training data 50 ....
training data 51 ....
training data 52 ....
training data 53 ....
training data 54 ....
training data 55 ....
training data 56 ....
training data 57 ....
training data 58 ....
training data 59 ....
training data 60 ....
training data 61 ....
training data 62 ....
training data 63 ....
training data 64 ....
training data 65 ....
training data 66 ....
training data 67 ....
training data 68 ....
training data 69 ....
training data 70 ....
training data 71 ....
training data 72 ....
training data 73 ....
training data 74 ....
training data 75 ....
training data 76 ....
training data 77 ....
training data 78 ....
training data 79 ....
training data 80 ....
training data 81 ....
training data 82 ....
training data 83 ....
training data 84 ....
training data 85 ....
training data 86 ....
training data 87 ....
training data 88 ....
training data 89 ....
training data 90 ....
training data 91 ....
training data 92 ....
training data 93 ....
training data 94 ....
training data 95 ....
training data 96 ....
training data 97 ....
training data 98 ....
training data 99 ....
training data 100 ....
Successfully trained the faultID 1

,RMS,Mean,MA1,MA2,MA3,F1,F2,F3,FailureID
0,0.972163,0.703692,11345.330649,10650.442003,9478.125858,0.8,11.2,14.8,1.0
1,0.983376,0.712754,13912.673376,13072.899063,12577.832679,4.4,13.6,2.8,1.0
2,0.970084,0.700829,15308.184891,10697.594058,10114.993216,3.6,2.4,1.2,1.0
3,0.969463,0.701825,12868.452031,12035.586142,9549.310121,5.2,1.6,11.2,1.0
4,0.983319,0.713275,15044.457164,14697.736198,12384.556364,4.0,3.2,3.6,1.0
...,...,...,...,...,...,...,...,...,...
95,0.971045,0.702838,13466.868556,10903.226375,9774.384674,1.6,3.6,6.4,1.0
96,0.975359,0.705483,16366.879350,15944.977339,11547.144817,5.6,4.0,7.2,1.0
97,0.965917,0.697662,12109.353017,11739.067773,11239.919278,8.0,2.4,5.6,1.0
98,0.972792,0.704608,14505.417792,12939.602436,10840.747942,2.4,2.0,3.2,1.0
99,0.973317,0.704838,13072.684098,12371.508514,11164.533452,11.6,6.4,2.4,1.0

In [25]:
# Combining all 4 dataframes into one
ID = pd.concat([ID1,ID2,ID3, ID4],ignore_index=True)
ID

,RMS,Mean,MA1,MA2,MA3,F1,F2,F3,FailureID
0,0.972163,0.703692,1.134533e+04,1.065044e+04,9.478126e+03,0.8,11.2,14.8,1.0
1,0.983376,0.712754,1.391267e+04,1.307290e+04,1.257783e+04,4.4,13.6,2.8,1.0
2,0.970084,0.700829,1.530818e+04,1.069759e+04,1.011499e+04,3.6,2.4,1.2,1.0
3,0.969463,0.701825,1.286845e+04,1.203559e+04,9.549310e+03,5.2,1.6,11.2,1.0
4,0.983319,0.713275,1.504446e+04,1.469774e+04,1.238456e+04,4.0,3.2,3.6,1.0
...,...,...,...,...,...,...,...,...,...
395,8.571683,3397.590508,2.488393e+08,2.321213e+08,1.891357e+08,769.2,768.8,773.2,4.0
396,9.470014,3392.942475,2.450360e+08,2.248801e+08,1.997323e+08,768.8,770.0,770.4,4.0
397,10.326281,3594.356087,2.492189e+08,2.136838e+08,1.654724e+08,780.0,780.4,766.8,4.0
398,10.942935,3615.392037,2.436363e+08,2.412081e+08,2.348954e+08,780.8,782.4,781.6,4.0
399,9.180394,3582.278238,3.093918e+08,2.415825e+08,2.326307e+08,782.4,781.6,783.2,4.0

In [26]:
# Storing the trained data in a csv file
ID.to_csv("training.csv",index=False)
data = pd.read_csv("training.csv")
data

,RMS,Mean,MA1,MA2,MA3,F1,F2,F3,FailureID
0,0.972163,0.703692,1.134533e+04,1.065044e+04,9.478126e+03,0.8,11.2,14.8,1.0
1,0.983376,0.712754,1.391267e+04,1.307290e+04,1.257783e+04,4.4,13.6,2.8,1.0
2,0.970084,0.700829,1.530818e+04,1.069759e+04,1.011499e+04,3.6,2.4,1.2,1.0
3,0.969463,0.701825,1.286845e+04,1.203559e+04,9.549310e+03,5.2,1.6,11.2,1.0
4,0.983319,0.713275,1.504446e+04,1.469774e+04,1.238456e+04,4.0,3.2,3.6,1.0
...,...,...,...,...,...,...,...,...,...
395,8.571683,3397.590508,2.488393e+08,2.321213e+08,1.891357e+08,769.2,768.8,773.2,4.0
396,9.470014,3392.942475,2.450360e+08,2.248801e+08,1.997323e+08,768.8,770.0,770.4,4.0
397,10.326281,3594.356087,2.492189e+08,2.136838e+08,1.654724e+08,780.0,780.4,766.8,4.0
398,10.942935,3615.392037,2.436363e+08,2.412081e+08,2.348954e+08,780.8,782.4,781.6,4.0
399,9.180394,3582.278238,3.093918e+08,2.415825e+08,2.326307e+08,782.4,781.6,783.2,4.0